.content-pages {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.site {
    cursor: pointer;
}

.float-button-pages {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.content-modal-pages {
    min-width: 300px;
}

.modal-header-pages {
    width: 100%;
    padding: 20px;
}

.modal-body-pages {
    min-height: 300px;
    min-width: 400px;
}