.icon-home {
    min-height: 240px !important;
    /* background-color: lightgray; */
    padding: 5px;
    text-align: center;
}

.home-icon {
    font-size: 140px;
    text-align: center;
}

.home-item {
    background-color: lightgray;
    border-radius: 10px;
    height: 100%;
    padding: 30px;
}