.header-2 .sobre {
	padding: 95px 0 60px;
	position: relative;
	background: url('./thumbnail.jpeg') no-repeat right bottom;
}
.header-2 .sobre p {
    width: 375px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    margin: 30px 0;
}
.header-2 .sobre p span {
    color: #8fd400;
    font-weight: 700;
}
.header-2 .sobre:after {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 17px);
    content: url('./arrow-down.png');
}